/* #################################################### */
/* ### General */
body {
	font-family: verdana, sans;
	font-size: 12pt;
	color: #000;
}

.thumbnail {
	max-height: 1.5cm;
	max-width: 1.5cm;
	margin: 0 auto;
	display: block;
}

.editicon, .deleteicon, .protecticon, .upicon, .downicon, .loupeicon, .tilesicon, .listicon {
	border: 0;
	cursor: pointer;
	width: 20px;
	height: 20px;
}

table {
	border: 0;
	border-collapse: collapse;
	width: 100%;
	margin: 0;
	float: none;
}


.table_head {
	font-weight: bold;
	background-color: #eee;
}

tr {
	border-top: solid 1pt #ccc;
	border-bottom: solid 1pt #ccc;
}

td {
	border: 0;
	padding: 3pt 5pt;
}

#contactinfo {
	text-align: center;
	font-size: 10pt;
	color: #555;	
	margin-top: 1cm;
}

#dateinfo {
	font-size: 12pt;
	margin-bottom: 1cm;
}

h1 {
	color: #555;
	font-size: 14pt;
	font-weight: bold;
	margin: 0 0 0.1cm 0;
	padding: 0;
}

h2 {
	color: #000;
	font-size: 20pt;
	font-weight: bold;
	margin: 0.1cm 0 0.4cm 0;
	padding: 0;
}