/* #################################################### */
/* ### General */
body {
	font-family: verdana, sans;
	font-size: 10pt;
}

h1, h2, h3 {
	color: #3d3d3d;
}

abbr {
		cursor: help;
		color: #709e47;
}


/* #################################################### */
/* ### Picture tiles */
.picturetile_outer {
	margin: 0;
	padding: 0;
}

.picturetile_outer li {
	margin: 8px;
	padding: 0;
	display: inline-block;
	list-style: none;
}

.picturetile_inner {
	margin: 0;
	padding: 0;
	display: block;
}

.picturetile_inner li {
	margin: 0;
	padding: 0;
	display: block;
	list-style: none;
}

.picturetile_inner .thumbnail {
	margin: 0;
	display: block;
	list-style: none;
}


/* #################################################### */
/* ### Controls list */
.controlsList {
	margin: 0;
	padding: 0;
	display: block;
	list-style: none;
}

.controlsList li {
	display: inline;
	list-style: none;
}


/* #################################################### */
/* ### exhibition_list form in table */
#tableform {
	width: 800px;
}

#tableform input {
	width: 50px;
	display: inline;
	margin: 0 5px;
}

#tableform input[type=checkbox] {
	width: 15px;
	height: 15px;
	display: inline;
	min-height: 0;
}

#tableform .price {
	width: 50px;
	display: inline;
	margin: 0 5px;
}

#tableform .location {
	width: 150px;
	display: inline;
	margin: 0 5px;
}

/* #################################################### */
/* ### Forms */
fieldset {
	border-radius: 8px;
	border: 0;
	background-color: #ddd;
	padding: 10px;
	margin: 10px;
}

legend {
	margin: 0;
	padding: 0;
	font-size: 15px;
	font-weight: bold;
	color: #888;
}

form {
	width: 400px;
	border: 0;
}

input {
  border:1px solid #ccc;
  font-size:12px;
  min-height:20px;
  display:block;
  margin-bottom:10px;
  margin-top:0;
  outline: none;
  width: 100%;
}


label {
	font-size:12px;
	margin: 0;
	display:block;
}

input[type=radio] {
  border: 0;
  display: inline;
  float: none;
  width: 10px;
  height: 10px;
}

.radiolabel {
	display: inline;
	float: none;
}

.group_exhibition_info {
	display: none;
}

.measures {
	border:1px solid #ccc;
  font-size:12px;
  min-height:20px;
  display:inline;
  margin-bottom:10px;
  margin-top:0;
  outline: none;
  width: 15%;
}


/* #################################################### */
/* ### Thumbnails */
.thumbnail {
	max-height: 100px;
	max-width: 100px;
	margin: 0 auto;
	display: block;
}


/* #################################################### */
/* ### Icons */
.editicon, .deleteicon, .protecticon, .upicon, .downicon, .loupeicon, .tilesicon, .listicon {
	border: 0;
	cursor: pointer;
	width: 20px;
	height: 20px;
}

.reddot {
	width: 10px;
	height: 10px;	
}


/* #################################################### */
/* ### Tables */
table {
	border: 0;
	border-collapse: collapse;
}

tr {
	border-top: solid 1px #d4d4d4;
	border-bottom: solid 1px #d4d4d4;
}

td {
	border: 0;
	padding: 3px 5px;
}

.table_head {
	font-weight: bold;
	background-color: #d4d4d4;
	border-top: solid 1px #000;
	border-bottom: solid 1px #000;
}

.tr_green {
	background-color: #caffce;
}

.tr_protected {
	background-color: #e1e1e1;
}

.tr_sold {
	background-color: #ffd3d3;
}

.td_tiles {
	text-align: center;
}

.td_tiles_green {
	text-align: center;
	background-color: #a8d9ab;
}

.td_tiles_protected {
	background-color: #e1e1e1;
}

/* #################################################### */
/* ### Dialogs */
.done {
	background-color: #a8d9ab;
	border: 1px solid #000000;
	padding: 2px;
	font-weight: bold;
}

.question {
	background-color: #ffdf93;
	border: 1px solid #000000;
	padding: 2px;
	font-weight: bold;
}

.error {
	background-color: #f8a3a3;
	border: 1px solid #000000;
	padding: 2px;
	font-weight: bold;
}

.options {
	border: 1px solid #000000;
	padding: 5px;
}


/* #################################################### */
/* ### Navigation */
ul#navigation #logoitem {
	vertical-align: middle;
	padding: 2px;
  display: inline-block;
  margin-right: 5px;
  position: relative;
  padding: 0;
  background: #fff;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

div#navigationbox {
	margin: 0 0 20px 0;	
}

div#navlink {
	display: block;
	width: 100%;
	height: 100%;
}

ul#navigation a {
	display: block;
	text-decoration: none;
	color: #3d3d3d;	
}

ul#navigation {
  text-align: left;
  display: inline;
  margin: 0px;
  padding: 15px 4px 17px 0;
  list-style: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
ul#navigation li {
  font: bold 12px sans-serif;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 20px;
  background: #fff;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

ul#navigation li:hover {
  background: #dedede;
  color: #fff;
}
ul#navigation li ul {
  padding: 0;
  position: absolute;
  top: 44px;
  left: 0;
  width: 200px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
ul#navigation li ul li { 
  background: #dedede; 
  display: block; 
  color: #fff;
}
ul#navigation li ul li:hover { background: #d4d4d4; }
ul#navigation li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}
