body {
	font-family: verdana, sans;
	font-size: 10pt;
}

table {
	border: 1px solid #000000;
	border-collapse: collapse;
	font-family: verdana, sans;
	font-size: 10pt;
}

td {
	width: 7cm;
	border: 1px solid #000000;
	padding: 2px;
}

tr {
	height: 3cm;
	border: 1px solid #000000;
	padding: 2px;
}
